<div class="row">
  <nb-card class="width-100">
    <nb-card-body>
      <div fxLayout="column" fxLayoutGap="20px">
        <!-- filter block -->
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <input type="text" [(ngModel)]="search" nbInput name="search" placeholder="Search Project" autofocus
            autocomplete="off">
          <nb-select size="small" [(selected)]="sortBy">
            <nb-option *ngFor="let sort of sortMetaData" [value]="sort.value">{{sort.label}}</nb-option>
          </nb-select>
        </div>
        <!-- / filter block -->

        <!-- project list block -->
        <div fxLayout="row wrap" fxLayoutGap="20px">
          <div *ngFor="let project of projects">
            <nb-card class="project-card">
              <nb-card-body>
                <div>
                  <div fxLayout="row" fxLayoutAlign="space-between center">
                    <img src="" [alt]="project.name">

                    <a class="cursor-pointer" [nbPopover]="projectMenus">
                      <i class="fa fa-ellipsis-h" aria-hidden="true"> </i>
                    </a>
                  </div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
              </nb-card-body>
            </nb-card>
          </div>
        </div>
        <!-- / project list block -->
      </div>

    </nb-card-body>
  </nb-card>
</div>


<ng-template #projectMenus>
  <nb-list class="project-menu">
    <nb-list-item>
      <a><i class="fa fa-edit" aria-hidden="true"> </i> Edit</a>
    </nb-list-item>
    <nb-list-item>
      <a><i class="fa fa-redo" aria-hidden="true"> </i> Review</a>
    </nb-list-item>
    <nb-list-item>
      <a><i class="fa fa-trash-alt" aria-hidden="true"> </i> Delete</a>
    </nb-list-item>
  </nb-list>
</ng-template>