@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap');
$toolbar-color: #6846c6;

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif !important;
}

a {
	text-decoration:none;
}

h1.login-content-title {
    margin: 0 auto;
    font-size: 1.3rem;
    letter-spacing: auto;
    font-weight: 600;
    color: #0c0814;
    line-height: auto;
}

.login-form p {
	font-size:0.875rem!important;
	font-weight:lighter;
	margin: 1rem 0 !important;
	line-height: auto;
	letter-spacing: auto;
	color: #0c0814;
}

.login-form-section {
	display:block;
}

.login-form-section form {
	display:block;
}

.login-form-section form .form-group {
	display: flex;
	border: 1px solid #f0f0f0;
	border-bottom: 0;
	background-color: #fff;
	padding: 0.575rem 0 0.3rem;
	margin: 0 auto!important;
	width: 100%;
}

.login-form-section form .form-group.mail-box {
	border-radius: 0.25rem 0.25rem 0 0;
	background-color: #dadada;
	border-bottom: 0;
}

.login-form-section form .form-group.password-box {
    border-top: 0;
    border-bottom: 1px solid #f0f0f0;
    border-radius: 0 0 0.25rem 0.25rem;
}

.login-form-section form .form-group.captcha-box {
	border-radius: 0 0 0.25rem 0.25rem;
	border-bottom:  1px solid #f0f0f0;
	padding:0.575rem 0 0;
}

.login-form-section form .fa {
	vertical-align: middle;
	color: #f0f0f0;
	width: 50px;
	display: block;
	font-size: 24px;
	text-align: center;
	padding: 0.5rem 0 0 !important;
}

.login-form-section form .form-group.mail-box .fa {
	font-size: 20px;
	padding: 0.875rem 0 0;
}

.login-form-section form .form-info {
    display:block;
	width: 88%;
}

.login-form-section form .form-info label {
	display: block;
    font-size: 13px;
    line-height: auto;
    margin: 0 auto;
	letter-spacing: auto;
	color:#0c0814;
}

.login-form-section form .form-info input::plceholder,.login-form-section form .form-info input::focus {
	border:none !important;
	outline:none !important;
	font-family: 'Montserrat', sans-serif !important;
	line-height: auto  !important;
	letter-spacing: auto !important;
	color: #000 !important;
}

.login-form-section form .form-group.mail-box input {
	background-color:#dadada;
}

.login-form-section form .form-group.captcha-box .form-info input {
	width:47%;
	display: inline-block;
	vertical-align: middle;
}

.login-form-section form .form-group .form-code {
	width: 50%;
	display: inline-block;
	vertical-align: top;
	position: relative;
	text-align: right;
	top: -10px;
}

.login-form-section form .form-group .form-code .fa {
	width: auto;
	padding: 0.5rem;
	display: inline-block;
	vertical-align: top;
}

.login-form-section form .btn-action {
    display: block;
    padding-top: 1rem;
	text-align: right;
	clear: both;
}

.login-form-section form .btn-action a {
	display: block;
    color: #0c0814;
    line-height: auto;
    font-size: 0.875em !important;
    letter-spacing: auto !important;
}

.login-form-section form .btn-action a:hover {
	text-decoration: none;
}

.login-form-section form .btn-action .login-form-btn {
	background-color: $toolbar-color;
	border-radius: 0.25rem;
	outline: 0;
	border: none;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-size: 0.875rem;
	text-align: center;
	padding: 0.7rem 1rem;
	margin:1rem 0;
	transition: 0.3s;
	display: inline-block;
	cursor: pointer;
	font-family: 'Montserrat', sans-serif;
	line-height: auto;
	height: auto;
}

.loginerror {
	color: red;
    padding: 1%;
}

.captchaerror {
	color: red;
	padding: 1%;
}

.login-layout .form-control.captcha-box {
	padding: 0  !important;
    margin: 1rem auto 0 !important;
    font-size: auto  !important;
    line-height: auto  !important;
    font-weight: inherit  !important;
    border: none  !important;
    transition: none  !important;
	border-radius: inherit  !important;
	background: none;
}

.form-control.captcha-box .g-recaptcha {
	float:right !important;
}

@media screen and (max-width:1024px) {
	.login .login-form {
		flex:1 1;
		padding:0 1rem 0 0;
	}
	
	.img-responsive {
		margin: 0 auto;
	}
}

.input-group-addon {
    padding: 6px 12px;
    line-height: 1;
    color: #555;
    text-align: center;
	vertical-align: middle;
	width: 3rem;
}
