<div class="login-form">
  <div class="login-form-section">
    <h1 class="login-content-title">Login</h1>
    <p>To Keep connected with us please login with your office information by email address and password </p>
    <form class="form-signin" #loginFrm>
      <div class="form-group mail-box">
        <i class="fa fa-envelope" aria-hidden="true"> </i>
        <!-- <nb-icon icon="envelope" pack="fa"></nb-icon> -->
        <div class="form-info">
          <label htmlFor="email">Email Address</label>
          <!-- <input class="form-control" id="emailAddress" name="emailAddress" placeholder="Enter email address"> -->

          <div fxLayout="row" fxLayoutAlign="end center">
            <input class="login-input" [(ngModel)]="emailAddress" nbInput fullWidth name="emailAddress"
              placeholder="Enter email address" autofocus autocomplete="off" required>
            <span class="input-group-addon">
              <i *ngIf="emailAddress" (click)="emailAddress=''" class="fas fa-times-circle"></i>
            </span>
          </div>
        </div>
      </div>

      <div class="form-group password-box">
        <i class="fa fa-lock" aria-hidden="true"></i>
        <div class="form-info">
          <label htmlFor="password">Password</label>
          <!-- <input class="form-control" id="password" name="password" placeholder="Enter password"> -->

          <div fxLayout="row" fxLayoutAlign="end center">
            <input class="login-input" [(ngModel)]="password" [type]="passInputType" nbInput fullWidth
              name="password" placeholder="Enter password" autocomplete="current-password" required>
            <span class="input-group-addon">
              <i *ngIf="passInputType=='password'" (click)="passInputType='text'" class="fas fa-eye"></i>
              <i *ngIf="passInputType=='text'" (click)="passInputType='password'" class="fas fa-eye-slash"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="loginerror">{{errorMessage}}</div>
      <!-- <Captcha></Captcha> -->
      <div class="captchaerror">{{captchaError}}</div>
      <a href="javascript:void(0);" title="Click to get reset password info" class="login-forget-password">Forgot
        Password?</a>
      <div class="btn-action">
        <button class="login-form-btn" type="submit" (click)="login()" [disabled]="loginFrm.invalid">
          Login
        </button>
      </div>
    </form>
  </div>
</div>