#col-1 {
    position: relative;
    width: 30%;
    float: left;
    height: 100%;
    background-color:rgb(255, 255, 255);
    z-index: 1010101010
  }
  
  #col-2 {
    position: relative;
    width: 50%;
    float: right;
    height: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 1010101010
  }

  .text-green{
      color:rgb(148,0,211)
     }
  /* Control the right side */
.text-colour{
    color:rgb(0,0,0)
  }