<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->





<body>
    <div id="col-1">
        <h1 class="text-center text-green pt-5">Welcome to Expleo Open-Bank App</h1>
        <img src="./assets/images/img.jpg" alt="Open-Bank" width="640" height="420">
    </div>
    <div id="col-2">
        <div id="login">
            <div class="container">
                <div id="login-row" class="row justify-content-center align-items-center">
                    <div id="login-column" class="col-md-6">
                        <div id="login-box" class="col-md-12">
                            <form class="form">
                                &nbsp;
                                &nbsp;
                                <h3 class="text-center text-colour">{{isLogin?'Login':'Register'}}</h3>
                                <div class="form-group">
                                    <label for="username" class="text-colour">Username:</label><br>
                                    <input type="text" name="username" id="username" class="form-control"
                                        [(ngModel)]="username">
                                </div>
                                <div class="form-group">
                                    <label for="password" class="text-colour">Password:</label><br>
                                    <input type="password" name="password" id="password" class="form-control"
                                        [(ngModel)]="password">
                                </div>
                                <mat-form-field>
                                    <mat-label>Select an option</mat-label>
                                    <mat-select [(value)]="selected">
                                      <mat-option>None</mat-option>
                                      <mat-option value="option1">Option 1</mat-option>
                                      <mat-option value="option2">Option 2</mat-option>
                                      <mat-option value="option3">Option 3</mat-option>
                                    </mat-select>
                                  </mat-form-field>

                                <div class="form-group">
                                    <label for="remember-me" class="text-colour"><span>Remember me</span> <span><input
                                                id="remember-me" name="remember-me" type="checkbox"></span></label><br>
                                    <button *ngIf="isLogin" type="submit" name="submit" class="btn btn-info btn-md"
                                        (click)="login()">Login</button>
                                    <button *ngIf="!isLogin" type="submit" name="submit" class="btn btn-info btn-md"
                                        (click)="signup()">Register</button>
                                </div>
                                <div id="register-link" class="text-right">
                                    <a (click)="switchLogin()"
                                        class="text-info">{{isLogin?'Register here':'Already have account'}}</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>