@import "~antd/dist/antd.css";


body {
	margin: 0 !important;
	padding: 0 !important;
	font-family: 'Montserrat', sans-serif !important;
	background-color:#ffff! important;	
	position:relative;
	overflow:hidden;
}

.navHeaderMenu {
  line-height: 60px;
  height: 61px;
}

.nav-wrapper {
  background-color: #6846c7 !important;
  width: 100% !important;
}

.navSearch {
  justify-content: flex-end;
}

.ml-3 {
  width: 30% !important;
}

.main-content .header-navbar,
.main-content > .main-navbar {
  border-bottom: 1px solid #d8d5d5;
  box-shadow: 0 0.165rem 0.700rem rgba(32, 34, 34, 0.72) !important;
}

.main-sidebar {
  border-right: 1px solid #d8d5d5;
  box-shadow: none !important;
}

.ant-form {
  line-height: 0.5!important;
  padding:0% !important;
}

.successmsg {
  color: green;
  font-size: 18px;
}

.errormsg {
  color: red;
  font-size: 18px;
}

.container-fluid.container {
  width: 100% !important;
  padding-right: 15px !important;
  padding-left: 15px !important;
  margin-right: auto !important;
  margin-left: auto !important;
  max-width: 100% !important;
}
.ant-btn-primary {
  background-color: #6846c7 !important;
  border-color: #6846c7 !important;
  padding: 0% 1% !important;
  /*margin: 1% 1% !important; login button*/ 
  font-weight: bold;
  font-size: 14px !important;
  min-width: 13% !important;
}
.user-avatar {
  display: block;
  padding-top: 15px!important;
  padding-left: 10px !important;
}
.main-sidebar {
  display: block;
  background-color: #6846c7 !important;
  border-right: 1px solid #6846c7 !important;
  box-shadow: none !important;
}
.side-menu-text {
  color: white!important;
  font-size: 16px!important;
  padding-left: 10px !important;
  /* width: 100%; 
   text-align: center; 
   border-bottom: 1px solid #000; 
   line-height: 0.1em;
   margin: 10px 0 20px;  */
}

.drawer {
  color: #6846c7!important;
  font-size: 16px!important;
  padding-left: 20px !important;
background-color: #6846c7 !important;

}

.btn-align {
	color: #fff;
	font-size: 1.1rem;
	text-align: center;
}
.main-sidebar .nav .nav-item .nav-link.active, .main-sidebar .nav .nav-item .nav-link:hover, .main-sidebar .nav .nav-item.active, .main-sidebar .nav .nav-item:hover {
  background-color:#ffffff20!important; 
  
}
.main-sidebar .nav .nav-item .nav-link.active, .main-sidebar .nav .nav-item .nav-link:hover{
  box-shadow: inset 0.2rem 0 0 #fff!important;
}
.container {
  display: block;
  width: 100% !important;
  padding-right: 15px !important;
  padding-left: 15px !important;
} 
.main-sidebar .nav .nav-item .nav-link {
  border-bottom: 1px solid #6846c7 !important;
  display: block;
  font-weight: 400 !important;
  color: #3d5170 !important ;
  /*padding: .9375rem 1.5625rem !important;*/
}
.main-navbar .navbar,.navHeaderMenu{
  background:#F0F0F0!important
}

table .ant-table-tbody tr td{
  padding:.5rem .5rem!important
}
table .ant-table-thead tr th{
  padding:.5rem .2rem!important
}
table .ant-table-tbody tr td span{
  font-weight:400!important;font-size:.85rem!important;text-transform:capitalize
}
.ant-table-thead>tr:first-child>th:first-child,.ant-table-thead>tr:first-child>th:last-child{
  border-radius:0
}
.ant-table-thead>tr>th{
  background:#DADADA!important;
  
}
table .ant-table-thead tr th{
  padding:.5rem .8rem!important
}

.pop-up{
  display:block;
  height: 300px !important;
}
.close {
  display:block;
  font-size: 3rem !important;
  margin-top:-3rem !important;
  color: #000000 !important;
}

.popup-icon{
  display:block;
  margin-left: 300px !important;
  margin-top: 3rem !important;
  height: 50px !important;
}

.pop-text{
  display:block;
  margin-top: 2.5rem !important;
  color: #000000 !important;
  text-align: center;
}
.ant-card-bordered {
  border: 1px solid #d8d5d5;
  background-color: #e8e8e8;
}
.ant-form-item-control {
  position: relative;
  line-height: 40px;
  /* zoom: 1.15; */
}
.ant-card {
  -webkit-box-sizing: content-box;
  box-sizing: border-box;
 /* margin-top:20px;*/
  margin-right: 10px;
  margin-left:10px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  list-style: none;
}
.nav-link:active {
background-color: white;
}
.size{
  padding-top:20px;
  padding-bottom:10px;
}
.Breadcrumb-top{background:#fff;padding:.5rem 0}
.container-fluid.container{width:100%!important;padding-right:15px!important;padding-left:15px!important;margin-right:auto!important;margin-left:auto!important;max-width:100%!important}
.container-fluid .ant-menu-submenu>.ant-menu{border-radius:0}
.ant-form .ant-row.margintop{padding-bottom:1rem}
/*.ant-row.margintop{background-color:#f8f8f8;border-left:5px solid #3f51b5!important;border:1px solid #eee}*/
.ant-row.margintop .float-left{padding-left:10px}
.ant-row.margintop .float-left h5{line-height:2.5rem;color:#3d5170;margin:0 auto;font-weight:400}
.ant-form .ant-row.margintop{background-color:inherit;border:none!important}
.ant-form .ant-row.margintop .float-left{padding-left:10px;background-color:#717de8;min-width:300px;float:left;border-left:5px solid #3f51b5;border-radius:0 10px}
.ant-form .ant-row.margintop .float-left h5{line-height:2.5rem;color:#fff;margin:0 auto;font-weight:600}
.ant-form .ant-row.margintop .hrline,.ant-row.margintop .hrline{display:none}
.ant-form .cardheader{clear:both;padding-top:0!important}
.ant-form .ant-card .ant-card-body{border:2px solid #eee;clear:both;border-radius:2px;padding:1rem 1.5rem 1.5rem 1.5rem!important}
.ant-form .ant-row.margintop .float-right .float-left{padding-left:0;background-color:inherit;min-width:inherit;border-left:none;border-radius:0}
.ant-form .ant-card-body .ant-row.margintop{margin-top:1rem;background-color:inherit}
.ant-form .ant-card-body .ant-row.margintop .float-left{background-color:#ddd;border-left:5px solid #673ab7}
.ant-form .ant-card-body .ant-row.margintop .float-left h5{color:#000}

.ant-row.margintop .float-left{padding-left:10px}
.ant-row.margintop .float-left h5{line-height:2.5rem;color:#000;margin:0 auto;font-weight:600}
.ant-row.margintop .float-left{padding-left:10px}
.ant-row.margintop .float-left h5{line-height:2.5rem;color:#3d5170;margin:0 auto;font-weight:400}
.buttonleft{
  background-color: #6846c7 !important;
  border-color: #6846c7 !important;
  padding: 0% 0% !important;
  margin: 0.50% 80% !important;
  font-size: 14px !important;
  min-width: 15% !important;
  color: white!important;
  font-weight: bold
}
.ant-table-header-column {
  font-weight: bold;
  font-size: 1rem!important;
}
.ant-modal-content
{
  box-sizing: border-box;
  width: 165%!important;
  margin-left:-40px!important;
  padding: 1.2rem !important;
}
.ant-pagination{
  padding-right: 1cm;
}

.ant-spin-nested-loading
{  
  height:calc(100vh - 8rem - 1px)!important;
  overflow-y: auto!important;
  overflow-x: hidden!important;
  width: 100%;
  padding-left: 10px!important;
  padding-right: 10px!important;

}

.ant-drawer .ant-drawer-content {
  width: 100%;
  height: 100%;
  background-color: #6846c7;
}
/* .ant-drawer.ant-drawer-left.ant-drawer-open {
  z-index: 9999;
} */
aside.main-sidebar {
  padding: 0 0 0 0rem !important;
  box-shadow: none !important;
}
.main-content .main-navbar{
  width: 100%;
  margin:0;
  padding:0;
  /*box-shadow: none !important;*/
}
.aside.main-sidebar .nav-wrapper{margin:0!important;
  padding:0!important;
}
.aside.main-sidebar .nav-wrapper ul {margin:0!important;
  padding:0!important;
}
.aside.main-sidebar .nav-wrapper ul li{margin:0!important;
  padding:0!important;
}
.aside.main-sidebar .nav-wrapper ul li a{margin:0!important;
  padding:0!important;
}
.main-content .main-navbar .navbar-nav{width: 100%;margin:0;padding:0;}
.main-content .main-navbar .navbar-nav .header-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-content .main-navbar .navbar-nav .header-section p{
  margin:0 !important;
}
.main-content .main-navbar .navbar-nav .header-section button{
  margin:0 !important;
  font-weight: bold;
}


.header-text{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:1rem;
  font-size: x-large;
  font-weight: bold;
}
.header-text button{
  margin:0 !important;
  margin-right: 1% !important;}

  .ant-modal-title {
    margin: 0;
    color: rgba(0, 0, 0, 0.85);
    font-size: 20px;
    line-height: 22px;
    font-weight: bold;
  }

  .table-striped-rows  td {
    background-color: #fbfbfb;
    /* border-color: black!important; */

}
.table-striped-rows thead {
    background-color: #f1f1f1;
}
.ant-table-thead>tr>th {
  background: #DADADA!important;
}

/* body {
  background: #ffff!important;
} */

.header{
  font-weight: bold;
  color: #3d5170;
  font-size: 20px;
}
.ant-input{
  height:45px;
  font-size:15px;
}
.ant-select-selection--single {
  position: relative;
  height: 45px;
 cursor: pointer;
 }

.ant-select-selection__rendered{
  margin-top: 7px;
  font-size: 15px;
}

.headertext-menu-text{
  font-weight: bold;
}
.border-left {
  border-left: 0px solid #e1e5eb!important;
  line-height: 0.5px;
  padding-top: 15px; 
}
.ant-input-number{
  width:100%;
  height: 45px;
  padding-top: 5px;
}
.row{
  margin-right:0px !important;
  margin-left:0px !important;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:1rem;
  font-size: x-large;
  font-weight: bold;
  padding-top:30px!important;
  padding-bottom: 30px;
}
