
nb-layout-column {
	padding-top: 10px !important;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap');

$toolbar-color: #6846c6;

body {
	margin: 0 !important;
	padding: 0 !important;
	font-family: 'Montserrat', sans-serif !important;
	background-color:#fafafa! important;
	position:relative;
	overflow:hidden;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif !important;
}

a {
	text-decoration:none;
}

h1.login-title {
    font-weight: lighter;
	color: $toolbar-color;
	font-size:2.8rem !important;
	margin: 0 auto!important;
	letter-spacing: inherit;
	line-height: auto;
}

h1.login-title span {
	font-weight:700 !important;
}

.padding-left-4rem {
	padding-left: 4rem !important;
}

.login-text {
    color: #0c0814;
    font-weight: 700;
    font-size: 1.8rem;
	padding: 1rem 0!important;
	line-height: auto;
}

.login-para {
    font-weight: lighter;
	font-size: 1.2rem!important;
	line-height: auto;
}

.login-btn a {
	background-color: $toolbar-color;
	border-radius: 0.25rem!important;
	outline: 0;
	border: none;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-size: 0.875rem;
	text-align: center;
	padding: 0.875rem 1rem!important;
	margin:1rem 0!important;
	transition: 0.3s;
	display: inline-block;
	cursor: pointer;
	line-height: auto;
	font-weight: 400;
}

.login-btn a:hover {
	color: #fff;
	text-decoration: none;
}

.img-responsive {
    max-width:28rem;
    margin:0 0 0 4rem!important;
    text-align: center;
    display: block;
}

@media screen and (max-width:1024px) {
	.img-responsive {
		margin: 0 auto;
	}
}

.margin-right-20rem {
	margin-right: 20rem;
}