<nb-layout windowMode>

  <nb-layout-column>
    <div class="login-layout">
      <div class="width-100">
        <div fxLayout.gt-sm="column" fxLayoutAlign.gt-sm="center end" fxLayout.lt-md="row"
          fxLayoutAlign.lt-md="space-between center">
          <div ngClass.gt-sm="width-100" fxLayout="row" fxLayoutAlign="end">
            <nb-select class="width-10rem" size="xsmall" [(selected)]="sharedService.selectedLanguage">
              <nb-option value="en">English</nb-option>
              <nb-option value="fr">French</nb-option>
              <nb-option value="se">Serbian</nb-option>
            </nb-select>
          </div>

          <img src="../assets/images/logo.png" alt="banner">
        </div>
      </div>

      <div class="login" fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutGap.lt-md="20px"
        fxLayoutAlign="space-between">
        <div ngClass.gt-sm="login-content margin-right-20rem">
          <div ngClass.gt-sm="padding-left-4rem">
            <h1 class="login-title">Welcome to <span>Expleo</span>
            </h1>
            <div class="login-text">Gig Economy Platform</div>
            <div class="login-para">Online simple easy of access application forever </div>
            <div ngClass.gt-sm="login-btn">
              <a href="javascript:void(0)"><span>Learn More</span></a>
            </div>
          </div>
          <img fxHide fxShow.gt-sm src="../assets/images/banner.png" alt="banner" class="img-responsive" />
        </div>

        <router-outlet></router-outlet>
      </div>
    </div>
  </nb-layout-column>

</nb-layout>