<div class="header-container">
  <div class="logo-container">
    <a fxLayout="row" fxLayoutAlign="center" (click)="toggleSidebar()" href="#" class="sidebar-toggle"
      [ngClass.gt-sm]="menuExpanded ? 'sidebar-toggled':''">
      <!-- <nb-icon icon="menu-2-outline"></nb-icon> -->
      <img src="..\..\..\assets\images\Logo_white.svg" alt="Logo">
    </a>
    <h3 class="padding-left-25px">{{pageTitle || 'Default'}}</h3>
  </div>
  <!-- <nb-select [selected]="currentTheme" (selectedChange)="changeTheme($event)" size="small" status="primary">
    <nb-option *ngFor="let theme of themes" [value]="theme.value"> {{ theme.name }}</nb-option>
  </nb-select> -->
  <!-- <exp-layout-direction-switcher class="direction-switcher"></exp-layout-direction-switcher> -->
</div>

<div class="header-container">
  <nb-actions size="small">
    <nb-action class="control-item">
      <nb-search type="rotate-layout"></nb-search>
    </nb-action>
    <!-- <nb-action class="control-item" icon="email-outline"></nb-action> -->
    <nb-action class="control-item" icon="bell-outline"></nb-action>
    <nb-action class="user-action" *nbIsGranted="['view', 'user']">
      <nb-user [nbContextMenu]="userMenu" [onlyPicture]="userPictureOnly" [name]="user?.name" [picture]="user?.picture">
      </nb-user>
    </nb-action>
  </nb-actions>
</div>