@import '~antd/dist/antd.css';

.navHeaderMenu {
    line-height: 60px;
    height: 61px;
}

.navSearch {
    justify-content: flex-end;
}

.ml-3 {
    width: 30%!important;
}

.main-content .header-navbar, .main-content>.main-navbar {
    border-bottom: 1px solid #d8d5d5;
    box-shadow: none!important;
}

.main-sidebar {
    border-right: 1px solid #d8d5d5;
    box-shadow: none!important;
}

.ant-form{
    padding: 1% 2%!important;
}

.successmsg{
    color:green;
    font-size:18px;   
}

.errormsg{
    color:red;
    font-size:18px; 
}